<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite" verbose="2">

    <parameter name="appURL" value="https://www.rusprofile.ru/" />
    <test name="User Tests">
        <classes>
            <class name="TestFindCompany" />

        </classes>
    </test>
</suite>